USE [proyecto_ventas_integrador]
GO
/****** Object:  Table [dbo].[canal]    Script Date: 26/07/2025 11:15:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[canal](
	[id_canal] [int] IDENTITY(1,1) NOT NULL,
	[nombre_canal] [nvarchar](50) NULL,
	[descripcion] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_canal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 26/07/2025 11:15:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[ciudad] [nvarchar](50) NULL,
	[tipo_cliente] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entregas]    Script Date: 26/07/2025 11:15:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entregas](
	[id_entrega] [int] IDENTITY(1,1) NOT NULL,
	[id_fecha_envio] [date] NULL,
	[id_fecha_entrega] [date] NULL,
	[ciudad_destino] [nvarchar](50) NULL,
	[estado] [nvarchar](30) NULL,
	[transportista] [nvarchar](50) NULL,
	[tiempo_entrega]  AS (datediff(day,[id_fecha_envio],[id_fecha_entrega])) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[id_entrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fecha]    Script Date: 26/07/2025 11:15:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fecha](
	[id_fecha] [date] NOT NULL,
	[anio] [int] NULL,
	[mes] [int] NULL,
	[nombre_mes] [nvarchar](20) NULL,
	[trimestre] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_fecha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos]    Script Date: 26/07/2025 11:15:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre_producto] [nvarchar](50) NULL,
	[categoria] [nvarchar](50) NULL,
	[proveedor] [nvarchar](50) NULL,
	[precio_unitario] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 26/07/2025 11:15:52 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [int] NULL,
	[id_cliente] [int] NULL,
	[id_canal] [int] NULL,
	[id_fecha] [date] NULL,
	[cantidad] [int] NULL,
	[precio_unitario] [decimal](10, 2) NULL,
	[total_venta] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[canal] ON 

INSERT [dbo].[canal] ([id_canal], [nombre_canal], [descripcion]) VALUES (1, N'Tienda Física', N'Venta directa en punto de venta')
INSERT [dbo].[canal] ([id_canal], [nombre_canal], [descripcion]) VALUES (2, N'Ecommerce', N'Plataforma web')
INSERT [dbo].[canal] ([id_canal], [nombre_canal], [descripcion]) VALUES (3, N'Call Center', N'Pedido telefónico')
SET IDENTITY_INSERT [dbo].[canal] OFF
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([id_cliente], [nombre], [ciudad], [tipo_cliente]) VALUES (1, N'Alfa Ltda', N'Medellín', N'Empresa')
INSERT [dbo].[clientes] ([id_cliente], [nombre], [ciudad], [tipo_cliente]) VALUES (2, N'Distribuciones Norte', N'Bogotá', N'Mayorista')
INSERT [dbo].[clientes] ([id_cliente], [nombre], [ciudad], [tipo_cliente]) VALUES (3, N'Market Express', N'Cali', N'Minorista')
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[entregas] ON 

INSERT [dbo].[entregas] ([id_entrega], [id_fecha_envio], [id_fecha_entrega], [ciudad_destino], [estado], [transportista]) VALUES (2, CAST(N'2025-01-10' AS Date), CAST(N'2025-01-12' AS Date), N'Medellín', N'Entregado', N'Rápido Entregas')
INSERT [dbo].[entregas] ([id_entrega], [id_fecha_envio], [id_fecha_entrega], [ciudad_destino], [estado], [transportista]) VALUES (3, CAST(N'2025-01-25' AS Date), CAST(N'2025-01-27' AS Date), N'Bogotá', N'Entregado', N'Colvanes')
INSERT [dbo].[entregas] ([id_entrega], [id_fecha_envio], [id_fecha_entrega], [ciudad_destino], [estado], [transportista]) VALUES (4, CAST(N'2025-02-15' AS Date), CAST(N'2025-02-18' AS Date), N'Cali', N'Retrasado', N'Entregamax')
SET IDENTITY_INSERT [dbo].[entregas] OFF
GO
INSERT [dbo].[fecha] ([id_fecha], [anio], [mes], [nombre_mes], [trimestre]) VALUES (CAST(N'2024-01-01' AS Date), 2024, 1, N'January', 1)
INSERT [dbo].[fecha] ([id_fecha], [anio], [mes], [nombre_mes], [trimestre]) VALUES (CAST(N'2024-01-02' AS Date), 2024, 1, N'January', 1)
INSERT [dbo].[fecha] ([id_fecha], [anio], [mes], [nombre_mes], [trimestre]) VALUES (CAST(N'2024-01-03' AS Date), 2024, 1, N'January', 1)
GO
SET IDENTITY_INSERT [dbo].[productos] ON 

INSERT [dbo].[productos] ([id_producto], [nombre_producto], [categoria], [proveedor], [precio_unitario]) VALUES (1, N'Gaseosa Cola 1.5L', N'Bebidas', N'DistribuBebidas', CAST(3500.00 AS Decimal(10, 2)))
INSERT [dbo].[productos] ([id_producto], [nombre_producto], [categoria], [proveedor], [precio_unitario]) VALUES (2, N'Arroz 500g', N'Alimentos', N'Graneros Andina', CAST(2500.00 AS Decimal(10, 2)))
INSERT [dbo].[productos] ([id_producto], [nombre_producto], [categoria], [proveedor], [precio_unitario]) VALUES (3, N'Jabón Líquido 1L', N'Aseo', N'Limpio SAS', CAST(5400.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[productos] OFF
GO
SET IDENTITY_INSERT [dbo].[ventas] ON 

INSERT [dbo].[ventas] ([id_venta], [id_producto], [id_cliente], [id_canal], [id_fecha], [cantidad], [precio_unitario], [total_venta]) VALUES (1, 1, 1, 1, CAST(N'2024-01-10' AS Date), 10, CAST(3500.00 AS Decimal(10, 2)), CAST(35000.00 AS Decimal(10, 2)))
INSERT [dbo].[ventas] ([id_venta], [id_producto], [id_cliente], [id_canal], [id_fecha], [cantidad], [precio_unitario], [total_venta]) VALUES (2, 2, 2, 2, CAST(N'2024-01-25' AS Date), 20, CAST(2500.00 AS Decimal(10, 2)), CAST(50000.00 AS Decimal(10, 2)))
INSERT [dbo].[ventas] ([id_venta], [id_producto], [id_cliente], [id_canal], [id_fecha], [cantidad], [precio_unitario], [total_venta]) VALUES (3, 3, 3, 3, CAST(N'2024-02-15' AS Date), 5, CAST(5400.00 AS Decimal(10, 2)), CAST(27000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ventas] OFF
GO
ALTER TABLE [dbo].[entregas]  WITH CHECK ADD  CONSTRAINT [FK_entregas_fecha] FOREIGN KEY([id_fecha_entrega])
REFERENCES [dbo].[fecha] ([id_fecha])
GO
ALTER TABLE [dbo].[entregas] CHECK CONSTRAINT [FK_entregas_fecha]
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD FOREIGN KEY([id_canal])
REFERENCES [dbo].[canal] ([id_canal])
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD FOREIGN KEY([id_fecha])
REFERENCES [dbo].[fecha] ([id_fecha])
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD  CONSTRAINT [FK_ventas_productos] FOREIGN KEY([id_producto])
REFERENCES [dbo].[productos] ([id_producto])
GO
ALTER TABLE [dbo].[ventas] CHECK CONSTRAINT [FK_ventas_productos]
GO
